body {
  font-family: Arial, Helvetica, sans-serif; 
  background-color: white; 
  margin: 20px;
  color: #000000; 
}

/* Imagens dos cards */
.card img { 
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/* Títulos */
h1, h2, h3, h4, h5 {
  font-family: 'Trebuchet MS', Arial, sans-serif; 
  font-size: 18px;
  color: #2c3e50; 
  text-transform: uppercase; 
  margin-bottom: 10px; 
}

/* Parágrafos */
p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}

/* Listas */
li {
  font-size: 15px;
  margin-bottom: 15px;
}

/* Tabela */
table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse; 
  font-size: 16px;
}

th {
  border: 2px solid #444; 
  padding: 10px;
  text-align: center; 
  background-color: #000;   /* cabeçalho escuro */
  color: #fff;              /* texto branco */
  font-weight: bold;        
}

td {
  border: 2px solid #444; 
  padding: 10px;
  text-align: left;   
}

/* Linhas alternadas */
tr:nth-child(even) {
  background-color: #f9f9f9; 
}

/* Efeito hover */
tr:hover {
  background-color: #ffeaa7; 
}
